[Unit]
Description=frontail
Documentation=https://github.com/mthenw/frontail
After=network.target

[Service]
Type=simple
ExecStart=npx frontail --host 127.0.0.1 --disable-usage-stats --theme dark --ui-highlight --ui-highlight-preset /etc/frontail/direwolf.json --ui-hide-topbar /var/log/direwolf/direwolf.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
