[Unit]
Description=frontail
Documentation=https://github.com/mthenw/frontail
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/tail-station-logs
Restart=on-failure

[Install]
WantedBy=multi-user.target
